.nav-container {

    width: 100vw;
    padding: 10px;
    background: rgb(252, 188, 188);

}

ul {

    list-style: none;
    list-style-type: none;
    
}

li {
    display: inline;
    padding: 10px;
    font-size: 18px;
}

a {
    color: black;
    font-weight: bolder;
}

button {

    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    background: none;
}
