<div class="nav-container">
    <h3 class="logo">Gadget Store</h3>
    <ul class="nav-links">
        <li class="nav-link">
            <a routerLink="">Home</a>
        </li >
        <li class="nav-link">

            <button routerLink="cart">Cart {{totalItem}}</button>

        </li>
        <li class="nav-link">
    
            <button *ngIf="checkSignedin()" (click)="signoutHandler()">signout</button>
            
            <button *ngIf="!checkSignedin()" (click)="signinHandler()">signin</button>
    
        </li>
    </ul>
</div>